* {
    box-sizing: border-box;
}

body {
    background: pink;
    display: flex;
    /* justify-content: space-around; */
    /* align-content: center; */
    justify-content: center;
}

.card {
    border: solid black thick;
    height: 500px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    margin: 50px;
}

h1, h2 {
    margin: 0 0 20px;
    /* color: red; */
}

h3 {
    margin: 0;
    border: 1px solid black;
    width: 200px;
    text-align: center;
    font-size: 1.5rem;
}

.gray {
    background: lightgray;
}

.footer {
    height: 200px;
    width: 100%;
    background: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 15px;
}

img {
    height: 400px;
    width: auto;
    margin-top: 15px;
    border: solid black;
}

/* h1, h2 {
    width: 100%;
} */